@media (max-width: 800px) {
  .menu {
    display: none;
  }

  .menu_mobil img {
    width: 20%;
  }

  .menu_mobil {
    display: grid;
    place-items: center;
  }

  .tekst_med_baggrund {
    background-color: rgba(0, 0, 0, 0.5); /* Sort med 50% gennemsigtighed */
    color: white; /* Tekstfarve */
    padding: 1em; /* Lidt luft rundt om teksten */
    display: inline-block; /* Så baggrunden passer til tekstens størrelse */
    border-radius: 8px; /* Afrundede hjørner, hvis ønsket */
  }

  .container {
    position: relative;
    width: 100%;
    max-width: 600px; /* Tilpas efter behov */
  }

  .baggrund {
    width: 100%;
    display: block;
  }

  .tekst_med_baggrund {
    position: absolute;
    top: 200px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1em;
    z-index: 1;
    border-radius: 8px;
  }

  footer {
    background-color: #273a1d;
  }
  footer p {
    color: #f5eaca;
  }

  footer h2 {
    color: #f5eaca;
  }
}

@media (min-width: 800px) {
  p {
    display: inline-block;
    border-radius: 8px; /* Afrundede hjørner, hvis ønsket */

    margin-block: 10px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .forside_img {
    width: 100%;
    height: auto;
  }

  .forside_img2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4px;
  }

  .tekst_med_baggrund {
    background-color: rgba(0, 0, 0, 0.5); /* Sort med 50% gennemsigtighed */
    color: white; /* Tekstfarve */
    padding: 1em; /* Lidt luft rundt om teksten */
    display: inline-block; /* Så baggrunden passer til tekstens størrelse */
    border-radius: 8px; /* Afrundede hjørner, hvis ønsket */
  }

  .container {
    position: relative;
    width: 200%;
    max-width: 600px; /* Tilpas efter behov */
  }

  .baggrund {
    width: 100%;
    display: block;
  }

  .tekst_med_baggrund {
    position: absolute;
    top: 216px;
    left: 966px;
    right: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 2.7em;
    z-index: 1;
    border-radius: 8px;
  }

  /*Footer*/
  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .footer2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center; /* Centrerer indholdet horisontalt */
    text-align: center;
    background-color: white;
  }

  .footer2 > div {
    padding: 30px;
    display: flex;
    flex-direction: row; /* Sørger for at alt står vertikalt */
    align-items: center; /* Centrerer indholdet horisontalt */
    text-align: center;
    height: 100%; /* fylder hele højden */
    margin-left: 50px;
  }

  .footer2 img {
    width: 8%;
    height: auto;
  }

  footer {
    background-color: #273a1d;
  }

  footer p {
    color: #f5eaca;
  }

  footer h2 {
    color: #f5eaca;
  }

  footer img {
    padding-top: 10px;
  }
}
