/* Footer */
.grid_1-1-1-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px
}

.menu_mobil{
    display: grid;
    grid-template-columns: 1fr 1fr;
}