img {
  width: 100%;
  height: auto;
  display: block;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

a.active {
  color: #62681f;
  text-decoration: underline;
}

.brugermenu {
  position: absolute;
  top: 50px;
  right: 50px;
}

/* Footer */
