@media (min-width: 800px) {
  header {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #273a1d;
  }

  nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 60px;
  }
  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 25px;
  }
}
