h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

.knap {
  display: inline-block; /* Sørger for, at linket opfører sig som en inline-block (kan have størrelse) */
  padding: 10px 20px; /* Indre margin (plads omkring teksten) */
  background-color: #273a1d; /* Baggrundsfarve (blå) */
  color: white; /* Tekstfarve */
  text-decoration: none; /* Fjern underline (standard på links) */
  border-radius: 5px; /* Runde hjørner */
  font-size: 16px; /* Tekststørrelse */
  text-align: center; /* Centrer teksten */
  transition: background-color 0.3s ease; /* Blød overgang ved hover */
  place-content: center;
}

.knap {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 800px) {
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .grid_1-1-1 > div {
    padding: 20px;
    display: flex;
    flex-direction: column; /* Sørger for at alt står vertikalt */
    align-items: center; /* Centrerer indholdet horisontalt */
    text-align: center;
    height: 100%; /* fylder hele højden */
  }

  .grid_1-1-1 h1 {
    margin-top: 200px;
  }
  .grid_1-1-1 img {
    width: 150px;
    height: auto;
    margin-bottom: 15px;
  }

  .grid_1-1-1 h2 {
    margin: 10px 0;
  }

  .grid_1-1-1 p {
    margin: 5px 0;
  }

  .knap {
    margin-top: auto; /* Skubber knappen helt ned – så alle knapper flugter */
    background-color: #273a1d;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }

  .grind_1-1-1 img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 50px;
  }
}
