@media (min-width: 800px) {
  .grid_2-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 90px;
    max-width: 830px;
    margin-inline: auto;
  }
  .order {
    order: 1;
  }
  .familie {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 10px;
    margin-top: 90px;
    max-width: 900px;
    margin-inline: auto;
  }

  .some {
    margin: 40px;
    margin-top: 90px;
    gap: 10px;
    font-weight: 400;
  }
}
